:root{
    --primary-color:    rgba(33, 150, 243, 1);
    --title-color:      rgba(33, 33, 33, 1);
    --paragraph-color:  rgba(117, 117, 117, 1);
    --footer-color:     rgba(255, 255, 255, 0.6);
    --text-main:        rgba(255, 255, 255, 1);
    --button-main   :   rgba(245, 244, 250, 1);
    --background-color: rgba(47, 48, 58, 1);


}

body{
    font-family: 'Roboto', sans-serif;
}

.list-default{
    list-style-type: none;
}

/* Tamaño y color de titulo de pagina*/
.text-title-page{
    color: var(--primary-color);
    text-decoration: none;
    width: 145px;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'Raleway';
    font-style: normal;
}

/* Tamaño y color de titulo principal*/

.text-main{
    color: var(--text-main);
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 3.75rem;
    font-style: normal;
}

/* Cambio de color para sub-titulos */
.text-subtitle{
    color: var(--title-color);
    width: 263px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    font-style: normal;
}

/* Tamaño y color de titulo de parrafos*/
.title-text-paragraph{
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
}

/* Tamaño y color de parrafos*/
.text-paragraph{
    color: var(--paragraph-color);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

/* Cambio de color para textos del header */
.custom-item-list{
    color: var(--title-color);
    text-decoration: none;
    width: 500px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
}

.custom-item-list:hover{
    color: var(--primary-color);
}

.visited-page:visited{
    color: var(--primary-color);
}


/* Cambio de color para textos del footer */
.custom-footer-list{
    color: var(--footer-color);
    text-decoration: none;
}

.custom-footer-list:hover{
    color: var(--primary-color);
}

/*Color de texto del address*/
.text-address{
    color: var(--text-main);
}

/*Color de los nombre de mienbros del equipo*/
.name-team{
    color: var(--title-color);
    width: 97px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
}

/*Color roles de mienbros del equipo*/
.role-team{
    color: var(--paragraph-color);
    width: 183px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
}

/*Color boton principal*/
.main-button{
    color: var(--text-main);
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    width: 197px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875rem;
}

/*Color botones de la pagina portafolio*/
.button-main-nav{
    color: var(--title-color);
    background-color: var(--button-main);
    width: 128px;
    border-radius: 4px;
    border: none;
}

.button-main-nav:hover{
    color: var(--text-main);
    background-color: var(--primary-color);
    cursor: pointer;
}

/*Color de los titulos del proyecto*/
.name-proyects{
    color: var(--title-color);
    width: 322px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    font-style: normal;
}

/*Color de nombre de secciones de cada proyecto*/
.section-proyects{
    color: var(--paragraph-color);
    width: 322px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
}

/* Imagen de fondo de la seccion del texto y boton principal*/
.background-text-main{
    background-image: url('../img/Main-text-bg-studio.jpg');
    background-color: var(--background-color);
}

/* Imagen de fondo de la seccion del texto del pie de pagina - pagina estudio*/
.background-text-footer-studio{
    background-image: url('../img/Footer-bg-studio.jpg');
    background-color: var(--background-color);
}

/* Imagen de fondo de la seccion del texto del pie de pagina - pagina portafolio*/
.background-text-footer-briefcase{
    background-image: url('../img/Footer-bg-briefcase.jpg');
    background-color: var(--background-color);
}